<!DOCTYPE html>
<html>
  <head>
    <title>Base de datos</title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center">Resultados base de datos</h1>
    <ul>
      <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
      <%}); %>
    </ul>
    
  </body>
</html>
