<!DOCTYPE html>
<html>
  <head>
    <title>Resultado base de datos</title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <ul>
      <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
      <%}); %>
    </ul>
    
  </body>
</html>
