<!DOCTYPE html>
<html>
  <head>
    <title>Base de datos</title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center">Resultados base de datos</h1>
    <table class = "tableBaseDatos">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
      <tr>
          <% results.forEach(function(r) { %>
            <td><%= r.id %></td>
          <%}); %>
      </tr>
      <tr>
          <% results.forEach(function(r) { %>
            <td><%= r.name %></td>
          <%}); %>          
      </tr>
    </table>    
  </body>
</html>
