<!DOCTYPE html>
<html>
  <head>
    <title>Base de datos</title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center">Resultados base de datos</h1>
    <table class = "tableBaseDatos">
      <tr>
        <td> Id </td>
        <td>
          <% results.forEach(function(r) { %>
            <li><%= r.id %></li>
          <%}); %>
        </td>
      </tr>
      <tr>
        <td> Nombre </td>
        <td>
          <% results.forEach(function(r) { %>
            <li><%= r.name %></li>
          <%}); %>
        </td>        
      </tr>
    </table>    
  </body>
</html>
