<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center"><%= title %></h1>
    <h2 align = "center">Bienvenidos a la aplicaci칩n desarrollada por Laura y Keyla en la asignatura de SAT</h2>
    <table align="center">
      <tr>
        <td></td>
        <td>
          <p>Pincha y accede a nuestro repositorio de Git</p>  
        </td>        
      </tr>
      <tr>
        <td>
          <img  
              width = "300" 
              height = "100" 
              src = "https://miro.medium.com/max/1400/1*CwnHbwvGLlanReR_PgHbvA.jpeg">
          </img>
        </td>
        <td>
          <img 
            onclick = "location.href='https://github.com/lauracvmuit/projKeylaLaura'"
            width = "300" 
            height = "150"
            src = "https://miro.medium.com/max/1200/1*pmCYFW7bPmEaysG2dl27IA.png" >           
          </img>
        </td>
      </tr>
    </table>
    <p>Esta p치gina web es un ejemplo de uso de Git y Heroku.</p>
    <p>Accede a nuestra aplicaci칩n en Heroku pinchando el siguiente bot칩n: 
        <button onclick = "location.href='https://secure-harbor-36331.herokuapp.com'"> Heroku app </button>
    </p>
  </body>
</html>
