<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenidos a la aplicación desarrollada por Laura y Keyla en la asignatura de SAT></p>
    <link> rel="stylesheet" type="text/css" href="C:\Users\keyla\Documents\MUIT\SAT\appKeylaLaura\css" media="screen" </link>
  </body>
</html>
