<!DOCTYPE html>
<html>
  <head>
    <title>Base de datos</title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center">Resultados base de datos postres</h1>
    <table class = "tableBaseDatosMejoras">
      <tr>
        <th>Referencia</th>
        <th>Tipo</th>
        <th>Tejido</th>
      </tr>      
      <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.referencia %></td>
        <td><%= r.tipo %></td>
        <td><%= r.tejido %></td>
      </tr>            
      <%}); %>
    </table>    
  </body>
</html>
