<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    
  </head>
  <body style="background-color:blueviolet">
    <h1 style="color: white;" align = "center"><%= title %></h1>
    <h2 align = "center">Bienvenidos a la aplicación desarrollada por Laura y Keyla en la asignatura de TARCE</h2>
    <p>Esta página web es un ejemplo de uso de base de datos.</p>
  </body>
</html>
